<section class="flex justify-center">
  <section class="w-11/12 h-[10vh] flex gap-4 items-center justify-between text-lg font-semibold">
    <section class="flex gap-16 items-center">
      <section>
        <img src="/rimo_logo.svg" alt="Logo" class="w-30 h-30"/>
      </section>
      <nav class="flex gap-8">
        <a routerLink="/">Explore</a>
        <a routerLink="/about">Collections</a>
        <a routerLink="/contact">Tags</a>
        <a routerLink="/about">About</a>
      </nav>
    </section>
    <section class="flex gap-4">
      <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Sign In</button>
      <button class="bg-green-500 text-white px-4 py-2 rounded">Sign Up</button>
    </section>
  </section>
</section>